build_artifacts/*
build_output/*

**/*.suo
**/**/*.suo
**/*.user
**/**/*.user

csx
rcf

bin
obj
_ReSharper*
*.dotCover

*.csproj.user
*.resharper.user
*.ReSharper.user
*.cache
*~
*.swp
*.bak
*.orig
*.user

*.nupkg
src/.nuget/nuget.exe
src/packages/**/*
docs/build/**/*

.DS_Store
.fake
.vs
src/Backup

TestResult.xml
submit.xml
src/tests/*
tests/*
SolutionVersion.cs
