<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="fooidity" type="Fooidity.Configuration.FooidityConfiguration, Fooidity" />
    </configSections>

    <fooidity defaultState="false">
        <features>
            <feature id="urn:feature:UseNewCodePath:Fooidity.ContainerTests.Features:Fooidity.ContainerTests" enabled="false"/>
        </features>
        <contexts>
            <context id="urn:context:UserContext:Fooidity.ContainerTests.Contexts:Fooidity.ContainerTests">
                <instances>
                    <instance key="Chris">
                        <features>
                            <feature id="urn:feature:UseNewCodePath:Fooidity.ContainerTests.Features:Fooidity.ContainerTests" enabled="true"/>
                        </features>
                    </instance>
                </instances>
            </context>
        </contexts>
    </fooidity>
</configuration>