<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="fooidity" type="Fooidity.Configuration.FooidityConfiguration, Fooidity" />
    </configSections>

    <fooidity defaultState="false">
        <features>
            <feature id="urn:feature:UseNewCodePath:Fooidity.ContainerTests.Features" type="Fooidity.ContainerTests.Features.UseNewCodePath, Fooidity.ContainerTests" enabled="false"/>
        </features>
        <contexts>
            <context type="Fooidity.ContainerTests.Contexts.UserContext, Fooidity.ContainerTests">
                <instances>
                    <add key="Chris">
                        <features>
                            <feature id="urn:feature:UseNewCodePath:Fooidity.ContainerTests.Features" enabled="true"/>
                        </features>
                    </add>
                </instances>
            </context>
        </contexts>
    </fooidity>
</configuration>