<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="fooidity" type="Fooidity.Configuration.FooidityConfiguration, Fooidity"/>
    </configSections>

    <fooidity defaultState="true">
        <features>
            <feature id="urn:feature:Off:Fooidity.Tests.ConfigurationFeatureState_Specs:Fooidity.Tests" enabled="false"/>
        </features>
        <contexts>
            <context id="urn:context:UserContext:Fooidity.Tests.ConfigurationFeatureState_Specs:Fooidity.Tests">
                <instances>
                    <instance key="Chris">
                        <features>
                            <feature id="urn:feature:On:Fooidity.Tests.ConfigurationFeatureState_Specs:Fooidity.Tests" enabled="false"/>
                        </features>
                    </instance>
                </instances>
            </context>
        </contexts>
    </fooidity>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
